body {
    padding: 0;
    margin: 0;
    background: #f2f6e9;
  }
  
  /*--- navigation bar ---*/
  
  .navbar {
    background:#6ab446;
  }
  
  .nav-link,
  .navbar-brand {
    color: #fff;
    cursor: pointer;
  }
  
  .nav-link {
    margin-right: 1em !important;
  }
  
  .nav-link:hover {
    color: #000;
  }
  
  .navbar-collapse {
    justify-content: flex-end;
  }

  .description {
    margin: 10px;
    
  }
  .description h1 {
    font-size: 1.4rem;
    color: #6ab446;
  }
  .description p {
    font-size: 1.1rem;
    line-height: 1.5;
  }

